extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  .profile
    h1 井上敦登　　Atsuto Inoue
    p て捨てsと
